<h1> Novo contato no site! </h1>

<p>Nome:
  <strong>
    <%= @name %>
  </strong>
</p>

<p>Email:
  <strong>
    <%= @email %>
  </strong>
</p>

<p>Mensagem:
  <%= @body %>
</p>

<p>Imagem:
  <%= link_to @photo, @photo %>
</p>
